@page "/mysection"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@using EduBuddyApp.Components.Common
@using System.Linq
@using EduBuddyApp.Services
@inject UserState UserState

<h3>My Section</h3>

@if (UserState.IsCollege)
{
    if (teacherSectionIds.Any())
    {
        foreach (var id in teacherSectionIds)
        {
            <SectionShortCard SectionId="@id" />
        }
    }
    else
    {
        <p>No sections assigned.</p>
    }
}
else
{
    <SectionShortCard />
    <hr />
    <StudentListGrid />
}

@code {
    private List<int> teacherSectionIds = new();

    protected override void OnInitialized()
    {
        if (UserState.IsCollege)
        {
            var subjects = UserState.EmployeeDetails?.TeacherSubjects;
            if (subjects != null)
            {
                teacherSectionIds = subjects.Select(s => s.SectionId).Distinct().ToList();
            }
        }
    }
}
