@page "/syllabus"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@using EduBuddyApp.Services
@using EduBuddyApp.Models
@using EduBuddyApp.Components.Common
@inject ISyllabusService SyllabusService
@inject UserState UserState
@using EduBuddyApp.Components.Common

<h3>My Syllabus</h3>

@if (subjects == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <InputSelect class="form-select mb-3"
                 @bind-Value="selectedSubjectId"
                 @bind-Value:after="OnSubjectChanged">
        <option value="">-- select --</option>
        @foreach (var s in subjects)
        {
            <option value="@s.SubjectID">@s.ClassSectionAndSubjectName</option>
        }
    </InputSelect>

    @if (selectedSubjectId != 0)
    {
        <div class="scrollable-content">
            <SubjectSyllabusGrid SubjectId="@selectedSubjectId" />
            @if (syllabusItems != null)
            {
                foreach (var item in syllabusItems)
                {
                    <SyllabusItemCard Item="@item" />
                   
                }
            }
            
        </div>
    }
}

<style>
    .scrollable-content {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
</style>

@code {
    private List<TeacherSubjectDto>? subjects;
    private int selectedSubjectId;
    private List<SyllabusItem>? syllabusItems;

    protected override async Task OnInitializedAsync()
    {
        subjects=UserState.EmployeeDetails.TeacherSubjects?.ToList();

        
    }

    private async Task OnSubjectChanged()
    {
        if (selectedSubjectId != 0)
            syllabusItems = await SyllabusService.GetSubjectSyllabusAsync(selectedSubjectId);
        else
            syllabusItems = null;
    }
}
