@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<CascadingAuthenticationState>
    <RadzenDialog />
    @* <div class="page">
        <main>
            <div class="top-row px-4"></div>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div> *@
    <div> 
        @Body
    </div>
</CascadingAuthenticationState>
